{% extends "base.html.twig" %}

{% set title = "Add a participant" %}
{% set subtitle = "Event '" ~ event.name ~ "'" %}

{% block js %}
	<script>
		window.eventData = {
			latitude: {{ event.latitude }},
			longitude: {{ event.longitude }},
			id: {{ event.id }}
		}
	</script>

	{{ encore_entry_script_tags('participant-new') }}
{% endblock %}

{% block body %}
	<section class="section">
		<div class="container">
			{{ form_start(form) }}

				<div class="columns">
					<!-- Input for name -->
					<div class="field is-small column">
						<label class="label">{{ form_label(form.name) }}</label>

						<div class="control has-icons-left is-small">
							<span class="icon is-left">
								<iconify-icon icon="mdi:people"></iconify-icon>
							</span>
							{{ form_widget(form.name) }}
						</div>

						{% for error in form.name.vars.errors %}
							<div class="help message is-danger">
								<p class="message-body">{{ error.message }}</p>
							</div>
						{% endfor %}
					</div>

					<!-- Input for the email -->
					<div class="field is-small column">
						<label class="label">{{ form_label(form.email) }}</label>

						<div class="control has-icons-left is-small">
							<span class="icon is-left">
								<iconify-icon icon="mdi:alternate-email"></iconify-icon>
							</span>
							{{ form_widget(form.email) }}
						</div>

						{% for error in form.email.vars.errors %}
							<div class="help message is-danger">
								<p class="message-body">{{ error.message }}</p>
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="columns">
					<!-- Input for the event -->
					<div class="field is-small column">
						<label class="label">{{ form_label(form.event) }}</label>

						<div class="control has-icons-left is-small">
							<iconify-icon class="icon is-small is-left" icon="mdi:football"></iconify-icon>

							<div class="select">
								{{ form_widget(form.event) }}
							</div>
						</div>

						{% for error in form.event.vars.errors %}
							<div class="help message is-danger">
								<p class="message-body">{{ error.message }}</p>
							</div>
						{% endfor %}
					</div>
				</div>

				<hr />

				<section class="section is-display-flex is-justify-content-center is-flex-direction-column">
					<h1 class="title has-text-centered">Additional data</h1>
					<button type="button" class="button" id="open-coordinates-modal">
						Open
					</button>
				</section>

				<hr />

				<div class="field is-grouped is-grouped-centered">
					<div class="control">
						<button class="button is-dark" type="submit">
							Submit
						</button>
					</div>

					<div class="control">
						<button class="button is-outlined is-white" type="reset">
							Reset
						</button>
					</div>
				</div>

			{{ form_end(form) }}
		</div>
	</section>

	<!-- modals -->
	<div class="modal" id="target-modal-coordinates">
		<div class="modal-background"></div>

		<div class="modal-content box">
			<div class="columns">
				<div class="column">
					<div class="field">
						<label class="label" for="latitude-input">
							Latitude
						</label>
						<div class="control">
							<input placeholder="54.5651421" class="input" id="latitude-input"/>
						</div>
					</div>
				</div>

				<div class="column">
					<div class="field">
						<label class="label" for="longitude-input">
							Longitude
						</label>
						<div class="control">
							<input placeholder="31.5831174" class="input" id="longitude-input"/>
						</div>
					</div>
				</div>
			</div>

			<div id="lat-lon-result" class="is-hidden mb-5">
				You are at
				<span id="calculated-distance" class="has-text-weight-bold"></span>
				<span class="is-capitalized has-text-weight-bold" id="distance-unit"></span>
				(<span class="is-italic" id="distance-unit-clean"></span>)
				for the event
			</div>

			<div class="field is-grouped is-grouped-centered">
				<div class="control">
					<button class="button is-dark" id="submit-calculate-distance" type="button">
						<iconify-icon class="icon mr-1" icon="mdi:location-favorite"></iconify-icon>
						Calculate
					</button>
				</div>
			</div>
		</div>

		<button class="modal-close is-large" aria-label="close"></button>
	</div>
{% endblock %}