{% extends "base.html.twig" %}

{% block body %}
    <h1>All sport events</h1>

    {% if allEvents %}
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date</th>
                <th>Latitude</th>
                <th>Longitude</th>
				<th>Action</th>
            </tr>
            </thead>

            <tbody>
                {% for event in allEvents %}
                    <tr>
						<td>{{ event.id }}</td>
						<td>{{ event.name }}</td>
						<td>{{ event.date|date('d/m/Y') }}</td>
						<td>{{ event.latitude }}</td>
						<td>{{ event.longitude }}</td>
						<td><a href="{{ path('events.single', {id: event.id}) }}">Voir</a></td>
					</tr>
                {% endfor %}
            </tbody>
        </table>


    {% else %}
        <h2>No events</h2>
    {% endif %}
{% endblock %}